
""" Created: 5-Aug-2021

@author: Deb """

"""Feature Selection - 

Reduces Overfitting: Less redundant data means less opportunity to make decisions based on noise

Improves Accuracy: Less misleading data means modeling accuracy improves

Reduces Training Time: Less data means that algorithms train faster
"""

1. Number of Instances: 768

2. Number of Attributes: 8 plus class 

3. For Each Attribute: (all numeric-valued)
   1. Number of times pregnant
   2. Plasma glucose concentration a 2 hours in an oral glucose tolerance test
   3. Diastolic blood pressure (mm Hg)
   4. Triceps skin fold thickness (mm)
   5. 2-Hour serum insulin (mu U/ml)
   6. Body mass index (weight in kg/(height in m)^2)
   7. Diabetes pedigree function
   8. Age (years)
   9. Class variable (0 or 1)

4. Missing Attribute Values: Yes

5. Class Distribution: (class value 1 is interpreted as "tested positive for
   diabetes")

   Class Value  Number of instances
   
   0            500
   
   1            268

6. Brief statistical analysis:

    Attribute number:    Mean:   Standard Deviation:
    
    1.                     3.8     3.4
    
    2.                   120.9    32.0
    
    3.                    69.1    19.4
    
    4.                    20.5    16.0
    
    5.                    79.8   115.2
    
    6.                    32.0     7.9
    
    7.                     0.5     0.3
    
    8.                    33.2    11.8

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns

In [8]:
df_pima_base = pd.read_csv("dataset.txt",names=['preg', 'plas', 'pres', 'skin', 'test', 'mass', 'pedi', 'age', 'class'])

In [9]:
df_pima_base.head()

   preg  plas  pres  skin  test  mass   pedi  age  class
0     6   148    72    35     0  33.6  0.627   50      1
1     1    85    66    29     0  26.6  0.351   31      0
2     8   183    64     0     0  23.3  0.672   32      1
3     1    89    66    23    94  28.1  0.167   21      0
4     0   137    40    35   168  43.1  2.288   33      1

In [10]:
df_pima_base.isnull().sum()

preg     0
plas     0
pres     0
skin     0
test     0
mass     0
pedi     0
age      0
class    0
dtype: int64

In [11]:
df_pima_base.dtypes

preg       int64
plas       int64
pres       int64
skin       int64
test       int64
mass     float64
pedi     float64
age        int64
class      int64
dtype: object

## 1. Univariate Selection

In [15]:
from sklearn.feature_selection import SelectKBest
from sklearn.feature_selection import f_classif
from numpy import set_printoptions

data_arr = df_pima_base.values
X = data_arr[:,:8]
y = data_arr[:,8]

In [16]:
# feature extraction
test = SelectKBest(score_func=f_classif, k=4)
fit = test.fit(X, y)

In [17]:
# summarize scores
set_printoptions(precision=3)
print(fit.scores_)
features = fit.transform(X)

[ 39.67  213.162   3.257   4.304  13.281  71.772  23.871  46.141]

In [18]:
# summarize selected features
print(features[0:5,:])

[[  6.  148.   33.6  50. ]
 [  1.   85.   26.6  31. ]
 [  8.  183.   23.3  32. ]
 [  1.   89.   28.1  21. ]
 [  0.  137.   43.1  33. ]]